@use "../../mixins/index" as *;
@use "../../presets/index" as *;

.burger {
  &__menu {
    right: 20px;
    width: 30px;
    height: 24px;
    position: absolute;
    display: grid;
    justify-content: end;
    cursor: pointer;
    transition: 0.5s ease-in-out;
    transform: rotate(0deg);
    z-index: 11;


    & span {
      position: absolute;

      display: block;

      width: 100%;
      height: 3px;

      transition: 0.25s ease-in-out;
      transform: rotate(0deg);

      opacity: 1;
      border-radius: 3px;
      background: $color-gray-dark;

      &:nth-last-child(1) {
        top: 0;
      }

      &:nth-last-child(2),
      &:nth-last-child(3) {
        top: 9px;
      }

      &:nth-last-child(4) {
        top: 18px;
      }
    }

    &.burger_active span {
      background-color: red;
    }

    &.burger_active span:nth-child(1) {
      opacity: 0;
    }

    &.burger_active span:nth-child(2) {
      transform: rotate(45deg);
    }

    &.burger_active span:nth-child(3) {
      transform: rotate(-45deg);
    }

    &.burger_active span:nth-child(4) {
      opacity: 0;
    }
  }
}


.main {
  width: 100%;
  margin-left: 71px;
  padding-top: 41px;
  padding-right: 95px;

  &__top {
    display: flex;
    align-items: start;

    & span {
      font-size: 26px;
      font-weight: 500;
    }

    & p {
      position: relative;
      left: -6px;
      top: 4px;
      font-size: 24px;
      font-weight: 500;
    }
  }

  // .main__title
  &__title {
    margin-bottom: 52px;
    position: relative;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    color: $color-black;
  }

}

.content {
  width: 100%;
  padding-top: 30px;
  background-color: $color-white;
  position: relative;
  border-radius: 30px;
  filter: drop-shadow(0px 10px 60px rgba(226, 236, 249, 0.50));

  // .content__top
  &__top {
    margin-bottom: 32px;
    padding-left: 38px;
    padding-right: 53px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 20px;
    justify-content: space-between;
  }

  // .content__title
  &__title {
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.22px;
    color: $color-black;

    &-group {

    }
  }

  // .content__subtitle
  &__subtitle {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 35px;
    letter-spacing: -0.14px;
    color: #16C098;
  }

  // .content__bottom
  &__bottom {
    padding-bottom: 40px;
    padding-left: 38px;
    padding-right: 43px;
    display: flex;
    flex-wrap: wrap;
    row-gap: 20px;
    align-items: center;
    justify-content: space-between;
  }

  // .main__bottom-info
  &__bottom-info {
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.14px;
    color: $color-gray-light;
  }
}

.search {
  // .search__label
  &__label {
    position: relative;

    & input {
      height: 38px;
      width: 216px;
      padding-left: 40px;
      border: none;
      border-radius: 10px;
      background: #F9FBFF;
      //background: red;

      &::placeholder {
        position: absolute;
        color: #B5B7C0;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: -0.12px;
      }
    }
  }

  // .search__icon
  &__icon {
    position: absolute;
    top: -3px;
    left: 8px;

  }
}

.table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.14px;
  color: $color-gray-dark;

  & td {
    height: 69px;
    padding-right: 10px;
  }

  & td:last-of-type {
    height: 69px;
    padding-right: 0;
    display: flex;
    justify-content: end;
    align-items: center;
  }

  & td:nth-of-type(3) {
    min-width: 120px;
  }

  & tr {
    position: relative;

    &:before {
      content: '';
      position: absolute;
      bottom: 0;
      display: block;
      width: 100%;
      height: 1px;
      background-color: #EEE;
    }
  }

  // .table__wrapper
  &__wrapper {
    padding-bottom: 29px;
    padding-left: 37px;
    padding-right: 44px;
  }

  // .table__head-col
  &__head-col {
    padding-bottom: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.14px;
    text-align: left;
    color: $color-gray-light;
  }

  & tr.table__header:before {
    width: calc(100% + 81px);
    left: -37px;
  }
}

.customer {
  // .customer__active
  &__active {
    width: 80px;
    padding: 4px 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.14px;
    color: $color-inactive;
    border-radius: 4px;
    border: 1px solid #DF0404;
    background: #FFC5C5;

  }
}

.active {
  color: #008767;
  border: 1px solid #00B087;
  background: rgba(22, 192, 152, 0.38);
}

.pagination {
  display: flex;
  gap: 12px;

  &__dots {
    padding-bottom: 6px;
    align-self: end;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%; /* 12px */
    letter-spacing: -0.12px;
    color: $color-black;
  }

  // .pagination__item
  &__item, .left__arrow, .right__arrow {
    width: 25px;
    display: inline-flex;
    padding: 6px 9px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 12px;
    font-weight: 500;
    font-style: normal;
    line-height: 100%; /* 12px */
    letter-spacing: -0.12px;
    border-radius: 4px;
    border: 1px solid #EEE;
    background-color: #F5F5F5;
    color: #404B52;
    transition: 0.4s;
  }

  &__item_current, &__item:hover {
    color: $color-white;
    border: 1px solid $color-hover;
    background-color: $color-hover;
  }
}

.left {
  // .left__arrow
  &__arrow {
  }
}


.right {
  // .right__arrow
  &__arrow {
  }
}

.overlay {
  display: none;
  position: absolute;
  inset: 0;
  background-color: rgb($color-gray-dark, 0.5);
  z-index: 1;
}

//media

@include xl {
  .table__wrapper {
    overflow-x: scroll;
    padding-bottom: 0;
    padding-right: 37px;
  }
  .main {
    position: relative;
    padding-right: 0;
    margin-right: 20px;
    margin-left: 20px;
  }
  .content {
    &__bottom {
      padding-top: 29px;
    }
  }
}

@include lg {
  .main {
    margin-right: 0;
    margin-left: 0;

    &__top {
      justify-content: center;
    }
  }
}

@include md {
  .content {
    &__bottom {
      padding-top: 29px;
      justify-content: center;
      flex-direction: column;
    }

    &__subtitle {
      text-align: center;
    }

    &__top {
      justify-content: center;
      flex-direction: column;
    }
  }
  .search {
    width: 80%;

    &__label {
      width: 100%;

      & input {
        width: 100%;
      }
    }
  }
}

