$color-white: #FFFFFF;
$color-black: #000000;
$color-gray: #969696;
$color-gray-light: #B5B7C0;
$color-gray-blue: #9197B3;
$color-gray-dark: #292D32;
$color-bg: #FAFBFF;
$color-hover: #5932EA;
$color-accent: #16C098;
$color-active: #00B087;
$color-inactive: #DF0404;
